{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container">

    <section>
        {% if user.is_staff %}
            <div class="viewinadmindashboard-link-container">
                <a href="{{ admin_url }}" class="viewinadmindashboard-link">
                    View in Dashboard <i class="fas fa-external-link-alt"></i>
                </a>
            </div>
        {% endif %}

        <h2>{{ object }}</h2>

        <div id="detail-details">
            {% for detail in details %}
                {% if detail.value %}
                    <div class="detail-details-item">
                        <label>{{ detail.label }}</label>
                        <span>{{ detail.value | safe }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

</div>

{% endblock %}