{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Project Team</h2>

    <div class="team-member-name">
        Peter Auger
    </div>
    <div class="team-member-role">
        Project Lead
    </div>
    <img src="{% static 'images/team/peter-auger.jpg' %}" alt="Peter Auger" class="team-member-photo">
    <p>
        Peter Auger is Lecturer in Early Modern Literature at the University of Birmingham, where he also co-directs the Early Modern Research Centre, 1450-1850. His research examines the movement of people, books, and ideas across the English Channel in the sixteenth and seventeenth centuries, often writing about poetry and with a particular interest in how sociocultural factors affect reading and writing practices. In parallel with this project, he is also leading an initiative called English Connects: Raising Literacy Engagement in Birmingham’s Multilingual Schools.
    </p>
    <p>
        Contact: <a href="mailto:p.auger@bham.ac.uk">p.auger@bham.ac.uk</a>
    </p>

    <div class="team-member-name">
        Suzanne Jones
    </div>
    <div class="team-member-role">
        Project Co-Lead
    </div>
    <img src="{% static 'images/team/suzanne-jones.jpg' %}" alt="Suzanne Jones" class="team-member-photo">
    <p>
        Suzanne Jones is currently an Assistant Professor of Early Modern French at the University of Cambridge. Her main research interest is Anglo-French literary and cultural exchange in early modern theatre. She has written a book on the first English translations of Molière and articles and book chapters on seventeenth- and eighteenth-century reception of a range of French drama. Alongside her contribution to ‘French-Language Print Publications in England to 1685’, she is working on a project titled ‘Translating Tragedy: The Politics of Early Modern Cross-Channel Drama’.
    </p>
    <p>
        Contact: <a href="mailto:sb723@cam.ac.uk">sb723@cam.ac.uk</a>
    </p>

    <div class="team-member-name">
        Nora Baker
    </div>
    <div class="team-member-role">
        Research Fellow
    </div>
    <img src="{% static 'images/team/nora-baker.jpg' %}" alt="Nora Baker" class="team-member-photo">
    <p>
        Nora Baker’s main research interests revolve around the religious, social, and cultural history of the seventeenth and eighteenth centuries. Her PhD, completed at Jesus College, Oxford, explored the emotional experiences of Huguenot refugees following the Revocation of the Edict of Nantes. She has previously held postdoctoral positions at the Université Libre de Bruxelles and at the University of Tokyo, as well as a Maddock Research Fellowship at Marsh’s Library, Dublin.
    </p>
    <p>
        Contact: <a href="mailto:n.m.baker@bham.ac.uk">n.m.baker@bham.ac.uk</a>
    </p>

</section>

{% endblock %}