@media (min-width: 992px) {

    .display-large {
        display: initial;
    }

    /* ---------- Navigation ---------- */

    .navbar-brand {
        padding-left: 0.3em;
    }

    .nav-link {
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 0.2em;
    }

    .nav-link.active {
        border-bottom: 0.15rem solid #8e5513;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 3em;
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        height: calc(70vh - 3em);
        min-height: 25em;
    }

    /* ---------- List ---------- */

    .list-options-filters-filter {
        display: inline-block;
        margin: 0.4em 0 0.7em 1em;
        width: calc(25% - 1.3em);
    }

    #list-options-views,
    #list-options-links {
        float: right;
    }

    #list-options-views {
        margin-left: 3em;
    }

    .list-body-item {
        margin: 1em;
        display: inline-block;
        width: calc(33% - 2em);
    }

    .list-body-item.gridview .list-body-item-link {
        min-height: 10em;
    }

    #list-pagination {
        white-space: nowrap;
    }

    .list-pagination-section {
        white-space: normal;
        width: 33%;
        display: inline-block;
        vertical-align: middle;
    }

    /* ---------- Detail ---------- */

    .viewinadmindashboard-link-container {
        float: right;
        width: fit-content;
        padding-left: 2em;
    }

}
